language: node_js

node_js:
  - "stable"

cache:
  directories:
    - node_modules

script:
  - npm test -- --coverage
  - npm run build
  - npm test
  - COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls 
  
  # run coverage after
